Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-declaration,
  -readability-avoid-return-with-void-value,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -performance-no-int-to-ptr,
